---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
	title="About Me"
	description="About me"
	pubDate={new Date("July 26 2024")}
	heroImage="/author.jpg"
>
	<p>
		I never thought of myself as a good writer. My opinion hasn't changed
		much, but I've discovered how exhilarating writing can be. It's not
		necessarily the act of writing itself, but the process of reading my
		stories afterward. Each one is a snapshot of my thoughts and feelings at
		a specific moment in time and space. In a way, I am my own personal test
		subject.
	</p>

	<p>
		My memories will naturally fade over time, and my impressions of these
		events will change as well. Perhaps ten years from now, I'll look back
		on these stories with fondness, but more likely, I'll cringe. I'm not a
		perfectionist, and I hope I never become one. Feel free to join me in my
		prideful mediocrity :)
	</p>

	<p>- Vlad out</p>
</Layout>
