---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
	title="About Me"
	description="About me"
	pubDate={new Date("July 26 2024")}
	heroImage="/author.jpg"
>
	<p>
		I never thought myself to be a good writer. My thoughts haven't budged
		much from those initial conceptions. I did however, find out how
		exhilerating writing can be. Not necessarily the writing itself but
		rather the process of reading my stories afterwards. It's a snapshot of
		my thoughts and feelings at a specific moment in time and space. In a way, I am my
		own personal test subject.
	</p>

	<p>
		My memories will naturally fade with time and my impressions of these
		events will change as well. Perhaps ten years in the future I'll happily
		look back at these stories but most likely I'll cringe. I'm not a
		perfectionist and I hope I'll never be. Feel free to stick along with my
		prideful mediocrity :)
	</p>

	<p>- Vlad out</p>
</Layout>
